<h3>ยินดีต้อนรับเข้าสู่ระบบ</h3>
<mat-toolbar >ระบบเช่าบ้าน</mat-toolbar>
<div class="w3-display-middle card1">

  <button class="w3-btn w3-white w3-border w3-round-large" >สัญญาบ้านเช่า </button><br><br>
  <button class="w3-btn w3-white w3-border w3-round-large" > การจ่ายเงินค่าบ้านเช่า </button><br>
  <br><button class="w3-btn w3-white w3-border w3-round-large" > เก็บข้อมูลของบ้านเช่า </button><br>
    <br><button class="w3-btn w3-white w3-border w3-round-large" > เเจ้งซ่อม </button><br>
    <br><button class="w3-btn w3-white w3-border w3-round-large" routerLink= '/tenantin'> ข้อมูลผู้เช่า - พนักงาน </button><br>
    <br><button class="w3-btn w3-white w3-border w3-round-large" > จองบ้านออนไลน์ </button><br>

</div>
