<div class="w3-display-middle">
  <mat-card class="card2">
    <div class="w3-display-middle">
      <font color="black">
        <h4 style="text-align:center;">
          Sign in
        </h4>
      </font>
      <form class="example-form" [formGroup]="Person" >
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" class="w3-input" formControlName = "email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" class="w3-input" type="password" formControlName = "password">
        </mat-form-field>
        <div style="text-align:center;">
        <button mat-flat-button (click)="login()"  routerLinkActive ='primary' >Login</button>
        <br><br>
        </div>
    </form>

  <div style="text-align:center;">
    <font color="black">
     <a class='abc'mat-button routerLink='/menu' routerLinkActive ="accent">Register</a>
    
    </font>
  </div>

    </div>
  </mat-card>
</div>
