<div class="w3-display-middle">
  <mat-card class="card2">
    <div class="w3-display-middle">
      <font color="black">
      <h4 style="text-align:center;">
        Sign in
      </h4>
      </font>
    <form class="example-form" >

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password">
      </mat-form-field>
      <div style="text-align:center;">
      <button mat-flat-button  routerLink='/home' routerLinkActive ='primary' >Login</button>
        <br><br>
  </div>
  <div style="text-align:center;">
    <font color="black">
     <a class='abc'mat-button routerLink='/menu' routerLinkActive ="accent">Register</a>
      <a class='abc' mat-button="accent">Menu</a>
    </font>
  </div>
    </form>
    </div>
  </mat-card>
</div>
